---
layout: default
---
<header id="home">
  {% include navigation.html %}

  {% include hero.html %}
</header>

<main id="archive" class="content">
  <section class="posts">
    {% for post in page.posts %}
    <article class="index-post post row">
      <div class="col-sm-12 col-md-3 col-lg-2 datetime">
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_long_string }}">
            <span class="day"><a href="{{ site.domain }}/blog/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%d' }}/">{{ post.date | date: "%d" }}</a></span>
            <span class="month-year"><a href="{{ site.domain }}/blog/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/">{{ post.date | date: "%b" }}</a></span><span class="month-year"><a href="{{ site.domain }}/blog/{{ post.date | date: '%Y' }}/">{{ post.date | date: "%Y" }}</a></span>
          </time>
        </span>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-10">
        <header class="post-header">
          <h3 class="post-title"><a href="{{ post.url | prepend: site.domain }}" itemprop="url">{{ post.title }}</a></h3>
        </header>
        <section class="post-excerpt">
           <p>{{ post.content | markdownify | strip_html | truncatewords: 40 }}</p>
        </section>

        <div class="index-post-tags">
          {% for tag in post.categories %}
          <span class="post-tag-{{tag}}"><a href="{{ site.domain }}/blog/category/{{ tag }}/">{{ tag }}</a></span>
          {% endfor %}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
</main>
