<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include meta.html %}
    <!-- Incude my FontIcons stack -->
    <script src="http://use.fonticons.com/621f5d80.js"></script>
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    {% if site.domain == 'http://localhost:3000' %}
    <link rel="stylesheet" href="/_css/main.css">
    {% else %}
    <link rel="stylesheet" href="/css/main.css">
    {% endif %}

  </head>
  <body {% if page.is_post %} class="post-template" {% endif %}>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
