---
layout: default
title: My Blog Posts

sypnosis: I'm not one to talk about myself so most of my posts are just my <span>notes</span> from following in-depth tutorials on <span>web development</span>. Here and there you might find some <span>explanations of math</span> solutions. If I find something <span>useful</span> or solve an <span>irritating</span> bug, I might write a situational post. Whenever I <span>make something</span>, I'll usually write an accompanying post.
---

<header id="home">
  {% include blog_navigation.html %}

  {% include blog_hero.html %}
</header>

<main id="blog" class="content">
  <section class="posts">
    {% for post in site.posts %}
    <article class="index-post post row">
      <div class="col-sm-12 col-md-3 col-lg-2 datetime">
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_long_string }}">
            <span class="day">{{ post.date | date: "%d" }}</span>
            <span class="month-year">{{ post.date | date: "%b %Y" }}</span>
          </time>
        </span>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-10">
        <header class="post-header">
          <h3 class="post-title"><a href="{{site.domain}}{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
        </header>
        <section class="post-excerpt">
           <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
        </section>
       
        <div class="index-post-tags">
          {% for tag in post.taxonomy.tag %}
          <span class="post-tag-{{tag}}"><a href="{{ site.domain }}/blog/tag/{{ tag }}">{{ tag }}</a></span>
          {% if not forloop.last %} 
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
</main>