---
layout: default
title: David Carter
description: "I'm a <span>web developer</span>, from California living in Indiana. Let's <a class='smoothscroll' href='#about'>start scrolling</a> and learn more <a class='smoothscroll' href='#about'>about me</a>."
---

<header id="home">
  {% include navigation.html %}

  {% include hero.html %}
</header>

<main id="content">
  {% include about.html %}

  {% include resume.html %}

  {% include portfolio.html %}

  {% include call.html %}

  {% include testimonials.html %}

  {% include contact.html %}

  {% include footer.html %}
</main>