<section id="about">
  <div class="row">
    <div class="three columns">
        <img class="profile-pic"  src="{{ page.media.images['profile.jpg'].url }}" alt="" />
    </div>

    <div class="nine columns main-col">
      <h2>About Me</h2>
      <p>I'm a front-end web developer currently working at <a href="//tribeswell.com">Tribeswell</a> in Bloomington, Indiana. I'm also the sole developer for a mobile app that you can find in both the <a href="//appstore.com/necterconnectwithgroupsinyourarea">App Store</a> and the <a href="//play.google.com/store/apps/details?id=com.necterinc.gonecter">Play Store</a>! I love making web applications since it entails a much bigger challenge than your typical brochure-like website. Right now I'm learning Node.js and playing around with Meteor. If I'm not doing or learning web development, you can find me taking long walks and hikes with my dog <a href="//instagram.com/kublaikaya">Kaya</a> or taking mini-vacations to explore the states with my other half. Otherwise, I'm playing video games, watching Netflix, or lurking on Reddit.</p>

      <div class="row">
        <div class="columns contact-details">
          <h2>{{ site.about.title }}</h2>
          {% for contact in site.about.contact %}
          <p class="address">{{ contact.name }}</p>
          <p class="address">
            {% for item in contact.content %}
            <a href="{{ item.line }}">{{ item.line }}</a> <br />
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        {% if site.about.buttons %}
        <div class="columns download">
          <p>
            {% for button in site.about.buttons %}
            <a href="{{ button.url }}" class="button"><i class="icon {{ button.icon }}"></i>{{ button.text }}</a>
            {% endfor %}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>