<form name="contact-form" accept-charset="UTF-8" action="https://formkeep.com/f/fc3f5a8c31a4" method="POST">

  <input type="hidden" name="utf8" value="✓">

  <div>
    <div class="form-field  vertical">
      <div class="form-label">
        <label class="inline">Name <span class="required">*</span></label>
      </div>
      <div class="form-data">
        <div class="form-input-wrapper ">
          <input name="name" value="" type="text" placeholder="Enter your name" autocomplete="on" required="required">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field  vertical">
      <div class="form-label">
        <label class="inline">Email <span class="required">*</span></label>
      </div>
      <div class="form-data">
        <div class="form-input-wrapper ">
          <input name="email" value="" type="text" placeholder="Enter your email address" required="required">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field  vertical">
      <div class="form-label">
        <label class="inline">Message <span class="required">*</span></label>
      </div>
      <div class="form-data">
        <div class="form-textarea-wrapper long">
          <textarea class="input" name="message" placeholder="Enter your message" required="required"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="button submit" type="submit">Submit</button>
  </div>

</form>