<section id="contact">
  <div class="row section-head">
    <div class="two columns header-col">
      <h1><span>{{ site.data.contact.title }}</span></h1>
    </div>
    <div class="ten columns">
      <p class="lead">{{ site.data.contact.lead }}</p>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      {% include contact_form.html %}
    </div>
    <aside class="four columns footer-widgets">
      {% for widget in site.data.contact.widgets %}
      <div class="widget widget_contact">
        <h4>{{ widget.title }}</h4>
        <p class="address">{{ widget.name }}</p>
        <p class="address">
          {% for item in widget.content %}
          <a href="{{ item.url }}"><i class="icon {{ item.icon }}"></i>{{ item.text }}</a> <br />
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </aside>
  </div>
</section>
