<div class="row banner">
	<div class="banner-text">
		<h1 class="responsive-headline">
		{% if page.url contains 'category' %}
			Posts in the <span class="category">{{ page.title }}</span> category
		{% elsif page.url contains 'tag' %}
			Posts in the <span class="category">{{ page.title }}</span> tag
		{% elsif page.url contains 'date' %}
			{% assign pathParts = page.path | split: "/" %} {% assign length = pathParts.size %}
			{% if length == 4 %}
				Posts written in <span class="category">{{ page.date | date: '%Y' }}</span>
			{% elsif length == 5 %}
				Posts written in <span class="category">{{ page.date | date: '%B %Y' }}</span>
			{% elsif length == 6 %}
				Posts written on <span class="category">{{ page.date | date: '%B %-d %Y' }}</span>
			{% endif %}
		{% else %}
			{{ page.title }}
		{% endif %}
		</h1>
		<h3>{{ page.description }}</h3>

		{% if page.url == "/" %}
			<hr>

			<ul class="social">
				{% for item in site.data.social %}
				<li><a href="{{ item.url }}"><i class="icon {{ item.icon }}"></i></a></li>
				{% endfor %}
			</ul>
		{% elsif page.is_post %}
			<hr>

			<ul class="social">
				<!-- Twitter -->
				<li><a href="http://twitter.com/share?text={{page.title}}&url={{site.domain}}{{page.url}}&via=dajocarter&related=dajocarter"><i class="icon icon-twitter"></i></a></li>
				<!-- Facebook -->
				<li><a href="http://www.facebook.com/sharer.php?u={{site.domain}}{{page.url}}&p[title]={{page.title}}"><i class="icon icon-facebook"></i></a></li>
				<!-- Google+ -->
				<li><a href="https://plus.google.com/share?url={{site.domain}}{{page.url}}"><i class="icon icon-google-plus"></i></a></li>
				<!-- LinkedIn -->
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.domain}}{{page.url}}&title={{page.title}}&summary={{page.sypnosis}}&source={{site.domain}}"><i class="icon icon-linkedin"></i></a></li>
				<!-- Tumblr -->
				<li><a href="http://www.tumblr.com/share/link?url={{site.domain}}{{page.url}}&name={{page.title}}&description={{page.sypnosis}}"><i class="icon icon-tumblr"></i></a></li>
				<!-- Reddit -->
				<li><a href="http://www.reddit.com/submit?url={{site.domain}}{{page.url}}&title={{page.title}}"><i class="icon icon-reddit-alien"></i></a></li>
			</ul>
			<p>Use the above buttons to share this post.</p>
		{% endif %}
	</div>
</div>
<p class="scrolldown">
	<a class="smoothscroll" href="#about"><i class="icon icon-chevron-down"></i></a>
</p>