<nav id="nav-wrap">
  <ul id="nav" class="nav">
    {% if page.url contains "blog" %}
      {% for item in site.data.menu.blog %}
      <li>
        {% if item.url == page.url %}
        <a class="smoothscroll" href="{{ item.link }}">{{ item.text }}</a>
        {% else %}
        <a href="{{ site.domain }}{{ item.url }}">{{ item.text }}</a>
        {% endif %}
      </li>
      {% endfor %}
    {% else %}
      {% for item in site.data.menu.main %}
      <li>
        {% if item.url == page.url %}
        <a class="smoothscroll" href="{{ item.link }}">{{ item.text }}</a>
        {% else %}
        <a href="{{ site.domain }}{{ item.url }}">{{ item.text }}</a>
        {% endif %}
      </li>
      {% endfor %}
    {% endif %}
  </ul>
  <button class="mobile-btn"><i class="icon ion-plus"></i><span></span></button>
  <ul id="hidden-nav" class="hidden"></ul>
</nav>