#blog {
  background-color: #191919;
}

.post-title {
  max-width: 1024px;
  margin: 2rem auto;
  padding: 0 3rem;
  text-align: center;
}

.post-content {
  max-width: 1024px;
  margin: 3rem auto;
  padding: 0 3rem;

  h1, h2, h3, h4, h5, h6 {
    color: $orange;
  }
}

@media (min-width: 767px) {
  .highlight {
    max-width: 80%;
    margin: 0 auto;
  }
}