@media screen and (max-width: 27em) {
  .post-template .post-title, .post-template .post-content {
    font-size: 50%;
  }

  .post-template button.trigger::before {
    display: none;
  }

  .page-container .page-title, .page-container .page-content {
    font-size: 50%;
  }
}

@media only screen and (min-width: 40.063em) {
  .content .index-post {
    padding-top: 7rem;
    padding-bottom: 7rem;

    &:first-of-type {
      padding-top: 12rem;
    }

    .datetime {
      margin-bottom: 0;
    }

    .post-header .post-title {
      text-align: left;
      font-size: 3.4rem;
      margin-bottom: 1.5rem;
    }

    .post-excerpt,
    .index-post-tags {
      text-align: left;
    }
  }

  .tag-template .index-post:first-of-type {
    padding-top: 7.5rem;
  }

  .tags-container .tags-header {
    font-size: 2.5rem;
  }

  .post-template .blog-menu ul li a {
    color: white;

    &:hover {
      border-bottom: 0.3rem solid white;
    }
  }

  .post-template .post-title h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .post-template .post-content > div:not(.post-title) {
    p:first-child {
      font-size: 2.6rem;
    }
  }

  .page-container .page-title h1 {
    font-size: 7rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .page-container .page-content > div:not(.page-title) p:first-child {
    font-size: 2.6rem;
  }

  .disqus {
    padding-top: 8.5rem;
    padding-bottom: 15rem;
  }
}

@media screen and (max-width: 47em) {
  .post-template .post-title, .post-template .post-content {
    font-size: 70%;
  }

  .page-container .page-title, .page-container .page-content {
    font-size: 70%;
  }
}

@media only screen and (min-width: 48em) {
  .post-list .entry-date {
    display: inline;
  }
}

@media only screen and (min-width: 58.125em) {
  .post-template .row,
  .page-template .row {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 70em) {
  .post-template .post-title h1 {
    font-size: 7rem;
    line-height: 9rem;
  }

  .page-container .page-title h1 {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
}

@media only screen and (min-width: 90em) {
  .post-template .post-title h1 {
    font-size: 8.5rem;
    line-height: 11rem;
  }

  .page-container .page-title h1 {
    font-size: 8.5rem;
    padding-top: 13rem;
    padding-bottom: 13rem;
  }
}