#nav-wrap {
  display: flex;
  align-items: center;

  button {
    align-self: stretch;
    transition: all .4s ease-out;
    padding: 0 1rem;
    outline: 0;
    border: 0;
    font-size: 1.1rem;
    font-weight: bold;
    height: 32px;
    width: 43.59375px;
    margin: 8px 3.5rem 0 0;
    position: relative;

    &.hidden {
      transition: none;
      width: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 33.33333%;
      transform: translate(-33.33333%, -50%);
    }

    span {
      content: attr(count);
      position: absolute;
      top: 50%;
      left: 66.66667%;
      transform: translate(-66.66667%, -50%);
    }
  }
}

#nav {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;

  li {
    flex: none;
  }
}

#hidden-nav {
  position: absolute;
  right: 0;
  top: 100%;

  &.hidden {
    display: none;
  }

  li {
    padding: 1rem;

    a {
      color: #191919;
      text-decoration: none;
    }
  }
}