.index-post {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #d9d9d9;

  &:first-of-type {
    padding-top: 8rem;
  }

  .datetime {
    margin-bottom: 4rem;
  }

  .post-meta {
    display: block;
    text-align: center;

    .day {
      display: block;
      font-size: 5.2rem;
      font-weight: 800;
      color: $teal;
    }

    .month-year {
      display: block;
      color: white;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  .post-header .post-title {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.6rem;
    margin: 0;
    padding: 0;
    line-height: 1.1;

    a {
      color: white;
    }
  }

  .post-excerpt {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;

    p {
      margin: 0;
      font-size: 2rem;
    }
  }

  .index-post-tags {
    font-size: 1.3rem;
    color: white;
    margin-top: 2.5rem;
    text-align: center;

    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      color: white;
      border: 1px solid white;
      border-radius: 2px;

      &:hover {
        color: $teal;
        border: 1px solid $teal;
      }
    }
  }
}

nav.pagination {
  padding-top: 9rem;
  padding-bottom: 9rem;
  text-align: center;

  .newer-posts,
  .older-posts,
  .page-number {
    font-size: 1.4rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 3px;
    color: white;
    border: 2px solid white;
  }

  .newer-posts,
  .older-posts {
    &:hover {
      border: 2px solid $teal;
      color: $teal;
    }

    &.faded {
      color: gray;
      border: 2px solid gray;

      a {
        color: gray;
      }
    }
  }

  .newer-posts .fa {
    margin-right: 1rem;
  }

  .older-posts .fa {
    margin-left: 1rem;
  }
}

.fadeInDown {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tag-template .index-post:first-of-type {
  padding-top: 5rem;
}

.tags-container {
  background: #f2f2f2;

  .tags-header {
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;

    .tag-name {
      color: $teal;
      text-transform: none;
    }
  }
}